


.storybook-button {
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: var(--color-core-green-700);
}

.storybook-button--small {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}